{% extends 'base.html' %}

{% block content %}
    <h1>Seznam pokojů</h1>
    <ul>
        {% for room in rooms %}
            <li>
                Číslo pokoje: {{ room.room_number }}<br>
                Typ: {{ room.room_type }}<br>
                Kapacita: {{ room.capacity }} osob<br>
                Cena za noc: {{ room.price_per_night }} Kč<br>
                Dostupnost: {{ room.is_available|yesno:"Ano,Ne" }}
            </li>
        {% empty %}
            <li>Žádné pokoje nejsou k dispozici.</li>
        {% endfor %}
    </ul>
{% endblock %}