{% extends '../index.html' %}

<!-- Blok obsahu, který bude vložen do základní šablony -->
{% block context %}

<!-- Zobrazení chybových zpráv (pokud existují) -->
{% for message in messages %}
<div class="alert alert-danger" role="alert">
    {{ message }}
</div>
{% endfor %}

<div class="container py-5">
    <div class="row justify-content-center">
        <!-- Formulář pro ověření kódu -->
        <form action="" method="POST">
            <!-- CSRF token pro ochranu formuláře -->
            {% csrf_token %}
            
            <!-- Instrukce pro uživatele -->
            <div class="row justify-content-center py-5">
                <label class="input-group-lg" for="verification">
                    Prosím, zadejte kód, který jsme vám poslali na váš e-mail
                </label>
            </div>

            <!-- Skrytý vstup pro předání dočasného kódu -->
            <div class="row justify-content-center py-5">
                <input 
                    class="form-control form-control-lg" 
                    type="hidden" 
                    id="temp-verification" 
                    name="tempCode" 
                    value="{{ code }}">
                
                <!-- Viditelný vstup pro skutečný ověřovací kód -->
                <input 
                    class="form-control form-control-lg" 
                    type="text" 
                    placeholder="Zadejte ověřovací kód" 
                    id="real-verification" 
                    name="realCode">
            </div>

            <!-- Tlačítko pro odeslání formuláře -->
            <div class="row justify-content-center py-5">
                <button 
                    class="btn btn-lg btn-success py-2" 
                    name="verify" 
                    type="submit">
                    Ověřit
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
