<div class="container">
    <!-- Informace o aktuální rezervaci -->
    <div class="row py-5 h5">
        <p>
            Aktuálně se pokoušíte rezervovat tento pokoj:
            <br>
            Období: {{ fd }} - {{ ld }}
            <br>
            Číslo pokoje: {{ room.number }}
            <br>
            Kapacita pokoje: {{ room.capacity }}
            <br>
            Počet postelí v pokoji: {{ room.numberOfBeds }}
            <br>
            Typ pokoje: {{ room.roomType }}
            <br>
            Cena za pokoj: {{ room.price }}
            <br>
            <br>
            Celková cena: {{ total }}
        </p>
    </div>

    <!-- Formulář pro rezervaci pokoje -->
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <!-- Skryté vstupy pro předání dat -->
            <input type="hidden" value="{{ room }}" name="roomid">
            <input type="hidden" value="{{ fd }}" name="fd">
            <input type="hidden" value="{{ ld }}" name="ld">

            <!-- Sekce pro přidání doprovodu, pokud kapacita pokoje je větší než 1 -->
            {% if room.capacity > 1 %}
            <div class="col-6">
                <h4>Přidat doprovod</h4>
                <input type="text" class="form-control d-inline" name="depName" placeholder="Jméno doprovodu">
                <button type="submit" name="add" class="form-control btn btn-sm btn-outline-success px-3 d-inline">
                    Přidat
                </button>
            </div>

            <div class="col-6">
                <h4>Seznam doprovodu</h4>
                <ul id="myList" class="list-group">
                    {% for n in names %}
                    <li class="list-group-item">
                        {{ n }}
                        <input type="hidden" name="name{{ forloop.counter }}" value="{{ n }}">
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <!-- Výběr hosta pro recepční -->
            {% if role == "receptionist" %}
            <div class="col-12">
                <label for="id_guest">Vyberte hosta</label>
                <select class="form-control" name="guest" id="id_guest" required>
                    {% for guest in guests %}
                    <option value="{{ guest.id }}">
                        {{ guest.user.first_name }} {{ guest.user.last_name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}

            <!-- Tlačítko pro potvrzení rezervace -->
            <div class="col-12 mt-3">
                <button type="submit" class="btn btn-info w-100" name="bookGuestButton">Rezervovat</button>
            </div>
        </div>
    </form>

    <div class="py-3">
        &nbsp;
    </div>
</div>