<div class="row justify-content-center m-5">
    <!-- Karta pro potvrzení smazání -->
    <div class="card border-danger shadow-lg w-75">
        <div class="card-body">
            <!-- Text pro potvrzení smazání -->
            <p class="text-center h5 text-danger">
                Opravdu chcete smazat vybrané oznámení?
            </p>

            <!-- Formulář pro smazání oznámení -->
            <form action="{% url 'deleteAnnouncement' announcement.id %}" method="POST" class="text-center">
                {% csrf_token %}
                
                <!-- Tlačítko pro zrušení -->
                <a class="btn btn-secondary mx-2" href="{% url 'announcements' %}">Zrušit</a>
                
                <!-- Tlačítko pro potvrzení -->
                <input class="btn btn-danger mx-2" type="submit" value="Potvrdit">
            </form>
        </div>
    </div>
</div>