<!-- 
Formulář pro úpravu informací uživatele a zaměstnance. 
Používá Bootstrap pro stylování a layout.
-->

<div class="container clearfix">
    <!-- Hlavní formulář -->
    <form action="" method="POST">
        {% csrf_token %} <!-- Token CSRF pro ochranu proti podvržení formuláře -->
        
        <!-- První řádek formuláře -->
        <div class="row mt-5 clearfix">
            
            <!-- Levý sloupec (Informace o uživateli) -->
            <div class="col-6 pr-3 border-right">
                
                <!-- Pole pro zadání jména -->
                <div class="form-group pt-3">
                    <label for="id_first_name"><b>Jméno</b></label>
                    <input type="text" class="form-control border border-secondary" id="id_first_name"
                        value="{{ user.first_name }}" name="first_name" required>
                </div>

                <!-- Pole pro zadání příjmení -->
                <div class="form-group pt-3">
                    <label for="id_last_name"><b>Příjmení</b></label>
                    <input type="text" class="form-control border border-secondary" id="id_last_name" 
                        value="{{ user.last_name }}" name="last_name" required>
                </div>

                <!-- Pole pro zadání emailu -->
                <div class="form-group">
                    <label for="id_email"><b>Email</b></label>
                    <input type="email" class="form-control border border-secondary" id="id_email"
                        value="{{ user.email }}" name="email" required>
                </div>
                
            </div>

            <!-- Pravý sloupec (Informace o zaměstnanci) -->
            <div class="col-6 pl-3">
                
                <!-- Pole pro zadání telefonního čísla -->
                <div class="form-group pt-3">
                    <label for="id_phoneNumber"><b>Telefonní číslo</b></label>
                    <input type="text" class="form-control border border-secondary" id="id_phoneNumber"
                        value="{{ employee.phoneNumber }}" name="phoneNumber" maxlength="12" pattern="\d{9,12}" 
                        title="Zadejte správný formát telefonního čísla (9–12 číslic)." required>
                </div>

                <!-- Pole pro zadání platu -->
                <div class="form-group">
                    <label for="id_salary"><b>Plat</b></label>
                    <input type="number" step="any" class="form-control border border-secondary" id="id_salary"
                        value="{{ employee.salary }}" name="salary" min="0" required>
                </div>
                
            </div>

        </div>

        <!-- Tlačítko pro uložení změn -->
        <div class="clearfix mb-5 pb-5">
            <button type="submit" name="submit" class="btn btn-success float-right">Uložit změny</button>
        </div>
    </form>
</div>