{% extends '../index.html' %}

{% block content %}
<!-- Bootstrap CSS a JavaScript -->
<link href="//netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!-- Vlastní styly -->
<style>
    body {
        margin-top: 0px;
    }

    .panel-title {
        display: inline;
        font-weight: bold;
    }

    .checkbox.pull-right {
        margin: 0;
    }

    .pl-ziro {
        padding-left: 0px;
    }
</style>

<!-- Sekce pro zadání platebních údajů -->
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Platební údaje</h3>
                </div>
                <div class="panel-body">
                    <form action="{% url 'verify' %}" method="POST">
                        {% csrf_token %}
                        <!-- Číslo karty -->
                        <div class="form-group">
                            <label for="cardNumber">ČÍSLO KARTY</label>
                            <div class="input-group">
                                <input type="number" class="form-control" id="cardNumber"
                                    placeholder="Platné číslo karty" min="0" max="9999999999999999" required
                                    autofocus />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            </div>
                        </div>
                        <!-- Datum expirace -->
                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                    <label for="expityMonth">DATUM EXPIRACE</label>
                                    <div class="col-xs-6 col-lg-6 pl-ziro">
                                        <input type="number" class="form-control" id="expityMonth" min="1" max="12"
                                            placeholder="MM" required />
                                    </div>
                                    <div class="col-xs-6 col-lg-6 pl-ziro">
                                        <input type="number" class="form-control" id="expityYear" placeholder="YY"
                                            required />
                                    </div>
                                </div>
                            </div>
                            <!-- CV kód -->
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                    <label for="cvCode">CV KÓD</label>
                                    <input type="password" class="form-control" id="cvCode" placeholder="CV" required />
                                </div>
                            </div>
                        </div>
                        <!-- Skrytý kód -->
                        <input type="hidden" value="{{code}}" name="tempCode">
                        <!-- Tlačítko pro odeslání -->
                        <button type="submit" class="btn btn-success btn-lg btn-block">Zaplatit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sekce pro ověření -->
<div class="container py-5 d-none">
    <div class="row justify-content-center">
        <form action="">
            <div class="row justify-content-center py-5">
                <label class="input-group-lg" for="verification">Zadejte kód, který jsme vám poslali na e-mail</label>
            </div>
            <div class="row justify-content-center py-5">
                <input class="form-control form-control-lg" type="text" placeholder="Ověřovací kód" id="verification">
            </div>
            <div class="row justify-content-center py-5">
                <button class="btn btn-lg btn-success py-2">Ověřit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}