{% extends '../index.html' %}

{% block context %}
<!-- Sekce pro zobrazení zpráv -->
{% for message in messages %}
<div class="alert alert-danger" role="alert">
    {{ message }} <!-- Zobrazení chybové nebo informační zprávy -->
</div>
{% endfor %}

<!-- Hlavní kontejner -->
<div class="container py-5">
    <div class="row justify-content-center">
        <!-- Formulář pro ověření -->
        <form action="" method="POST">
            {% csrf_token %} <!-- Zabezpečení formuláře proti CSRF útokům -->

            <!-- Nadpis s instrukcí -->
            <div class="row justify-content-center py-5">
                <label class="input-group-lg text-center" for="verification">
                    Zadejte kód, který jsme vám poslali na váš e-mail
                </label>
            </div>

            <!-- Skryté pole pro dočasný kód -->
            <input type="hidden" id="tempCode" name="tempCode" value="{{ code }}">

            <!-- Pole pro uživatele pro zadání kódu -->
            <div class="row justify-content-center py-5">
                <input 
                    class="form-control form-control-lg text-center" 
                    type="text" 
                    placeholder="Ověřovací kód" 
                    id="verification" 
                    name="realCode" 
                    required>
            </div>

            <!-- Tlačítko pro odeslání -->
            <div class="row justify-content-center py-5">
                <button class="btn btn-lg btn-success py-2" name="verify" type="submit">
                    Ověřit
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}