{% extends '../index.html' %} <!-- Rozšiřuje hlavní šablonu projektu -->

{% block context %}
<!-- Blok pro specifický obsah stránky -->

    <!-- Kontejner pro editaci pokoje -->
    <div class="container mt-5">
        <h1 class="text-center text-primary">Úprava pokoje</h1> <!-- Nadpis stránky -->

        <!-- Vložení šablony pro editaci pokoje -->
        {% include '../common_pages/room-edit.html' %}
        <!-- 
            Šablona `room-edit.html` obsahuje formulář pro úpravu detailů pokoje,
            jako jsou číslo pokoje, kapacita, počet postelí, typ pokoje, cena za noc a stav.
        -->
    </div>

{% endblock %}