<!-- Hlavní navigační lišta -->
<nav class="navbar navbar-dark bg-dark navbar-expand-lg py-3">
    <div class="container">
        <!-- Značka navigační lišty -->
        <a href="#" class="navbar-brand">
            <!-- Zobrazení jména uživatele a role -->
            <h2 class="text-capitalize text-white">
                {{ request.user.first_name }} {{ request.user.last_name }}
                <small class="text-muted">({{ role }})</small>
            </h2>
        </a>

        <!-- Tlačítko pro zobrazení mobilní navigace -->
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarTags">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Odkazy navigační lišty -->
        <div class="collapse navbar-collapse" id="navbarTags">
            <ul class="navbar-nav ms-auto">
                <!-- Dropdown menu pro možnosti -->
                <li class="nav-item dropdown p-2">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Možnosti
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!-- Položky menu pro admina -->
                        {% if role == 'admin' %}
                            <li><a class="dropdown-item" href="{% url 'guests' %}">Hosté</a></li>
                            <li><a class="dropdown-item" href="{% url 'employees' %}">Zaměstnanci</a></li>
                            <li><a class="dropdown-item" href="{% url 'events' %}">Události</a></li>
                            <li><a class="dropdown-item" href="{% url 'bookings' %}">Rezervace</a></li>
                            <li><a class="dropdown-item" href="{% url 'rooms' %}">Pokoje</a></li>
                            <li><a class="dropdown-item" href="{% url 'room-services' %}">Pokojové služby</a></li>
                            <li><a class="dropdown-item" href="{% url 'announcements' %}">Oznámení</a></li>
                            <li><a class="dropdown-item" href="{% url 'refunds' %}">Refundace</a></li>
                        {% elif role == 'guest' %}
                            <!-- Položky menu pro hosta -->
                            <li><a class="dropdown-item" href="{% url 'announcements' %}">Oznámení</a></li>
                            <li><a class="dropdown-item" href="{% url 'rooms' %}">Rezervovat pokoj</a></li>
                            <li><a class="dropdown-item" href="{% url 'current-room-services' %}">Služby aktuálního pokoje</a></li>
                            <li><a class="dropdown-item" href="{% url 'events' %}">Události</a></li>
                            {% if request.user.guest.currentRoom %}
                                <li><a class="dropdown-item" href="{% url 'room-profile' request.user.guest.currentRoom %}">Můj pokoj</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="{% url 'rooms' %}">Můj pokoj</a></li>
                            {% endif %}
                        {% elif role == 'manager' %}
                            <!-- Položky menu pro manažera -->
                            <li><a class="dropdown-item" href="{% url 'guests' %}">Hosté</a></li>
                            <li><a class="dropdown-item" href="{% url 'employees' %}">Zaměstnanci</a></li>
                            <li><a class="dropdown-item" href="{% url 'events' %}">Události</a></li>
                            <li><a class="dropdown-item" href="{% url 'bookings' %}">Rezervace</a></li>
                            <li><a class="dropdown-item" href="{% url 'rooms' %}">Pokoje</a></li>
                            <li><a class="dropdown-item" href="{% url 'room-services' %}">Pokojové služby</a></li>
                            <li><a class="dropdown-item" href="{% url 'announcements' %}">Oznámení</a></li>
                            <li><a class="dropdown-item" href="{% url 'storage' %}">Sklad</a></li>
                            <li><a class="dropdown-item" href="{% url 'refunds' %}">Refundace</a></li>
                        {% elif role == 'receptionist' %}
                            <!-- Položky menu pro recepční -->
                            <li><a class="dropdown-item" href="{% url 'guests' %}">Informace o hostech</a></li>
                            <li><a class="dropdown-item" href="{% url 'rooms' %}">Informace o pokojích</a></li>
                            <li><a class="dropdown-item" href="{% url 'events' %}">Informace o událostech</a></li>
                            <li><a class="dropdown-item" href="{% url 'bookings' %}">Informace o rezervacích</a></li>
                            <li><a class="dropdown-item" href="{% url 'announcements' %}">Oznámení</a></li>
                        {% elif role == 'staff' %}
                            <!-- Položky menu pro zaměstnance -->
                            <li><a class="dropdown-item" href="{% url 'tasks' %}">Moje úkoly</a></li>
                            <li><a class="dropdown-item" href="{% url 'announcements' %}">Oznámení</a></li>
                            <li><a class="dropdown-item" href="{% url 'food-menu' %}">Jídelní lístek</a></li>
                            <li><a class="dropdown-item" href="{% url 'storage' %}">Sklad</a></li>
                        {% endif %}
                    </ul>
                </li>

                <!-- Odkaz na profil -->
                <li class="nav-item mr-3 p-2">
                    {% if role in ['staff', 'receptionist', 'admin', 'manager'] %}
                        <a href="{% url 'employee-profile' user.id %}" class="nav-link text-white">Profil</a>
                    {% elif role == 'guest' %}
                        <a href="{% url 'guest-profile' user.id %}" class="nav-link text-white">Profil</a>
                    {% endif %}
                </li>

                <!-- Odkaz na odhlášení -->
                <li class="nav-item p-2">
                    <a href="{% url 'logout' %}" class="nav-link text-white">Odhlásit se</a>
                </li>
            </ul>
        </div>
    </div>
</nav>