{% extends '../index.html' %}

{% block content %}
    <!-- Vložení šablony pro přidání pokoje -->
    {% include '../common_pages/add-room.html' %}

    <!-- Formulář pro přidání pokoje -->
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="number">Číslo pokoje:</label>
            <input type="number" name="number" id="number" required>
        </div>
        <div>
            <label for="capacity">Kapacita:</label>
            <input type="number" name="capacity" id="capacity" required>
        </div>
        <div>
            <label for="numberOfBeds">Počet postelí:</label>
            <input type="number" name="numberOfBeds" id="numberOfBeds" required>
        </div>
        <div>
            <label for="roomType">Typ pokoje:</label>
            <select name="roomType" id="roomType" required>
                <option value="King">King</option>
                <option value="Luxury">Luxury</option>
                <option value="Normal">Normal</option>
                <option value="Economic">Economic</option>
            </select>
        </div>
        <div>
            <label for="price">Cena za noc:</label>
            <input type="number" name="price" id="price" step="0.01" required>
        </div>
        <button type="submit">Přidat pokoj</button>
    </form>
{% endblock %}